extends base

block main
  .row
    .col-lg-12
      .d-flex.justify-content-between.align-items-center
        h2 Data Nasabah Lama Non Gadai
        button.btn.btn-primary.m-2(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-nasabah-lama') Tambah
    .col-lg-12
      // Table Nasabah Lama
      .table-responsive
        table#nasabah-lama-table.table.table-striped.table-sm
          thead
            tr
              th.text-center No
              th.text-center Nama
              th.text-center Usia
              th.text-center Pendapatan
              th.text-center Utang
              th.text-center Riwayat Pembayaran
              th.text-center Potensial
              th.text-center Aksi
          tbody
            each nasabahLama, index in nasabahLamaObjArr
              tr
                td.text-center= index + 1
                td= nasabahLama.nama
                td.text-center #{nasabahLama.usia} Tahun
                td.text-center= convertRupiah(nasabahLama.pendapatan)
                td.text-center= convertRupiah(nasabahLama.utang)
                td.text-center= convertRiwayatPembayaran(nasabahLama.riwayat_pembayaran)
                td.text-center= convertPotensial(nasabahLama.potensial)
                td.text-center
                  button.btn.btn-sm.btn-success.m-1(type='button' data-bs-toggle='modal' data-bs-target=`#modal-update-nasabah-lama-${nasabahLama.id}`)
                    i.bi.bi-pencil-square
                  button.btn.btn-sm.btn-danger.btn--trash-user.m-1(type='button' data-bs-toggle='modal' data-bs-target=`#modal-delete-nasabah-lama-${nasabahLama.id}`)
                    i.bi.bi-trash
      // End Table Nasabah Lama

  //- Variables
  - const riwayatPembayaranOptionValues = ['Tepat Waktu', 'Terlambat 1 Bulan', 'Terlambat 2 Bulan', 'Terlambat 3 Bulan', 'Terlambat >3 Bulan'];
  - const potensialOptionValues = ['Tidak', 'Ya'];

  // Add Nasabah Lama Modal
  #modal-add-nasabah-lama.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h1.modal-title.fs-4 Tambah Data Nasabah Lama
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form#form-add-nasabah-lama.row(novalidate)
            .col-12.mb-3
              label.form-label(for='add-nama') Nama
              input#add-nama.form-control(type='text' name='nama' required)
              .invalid-feedback Masukkan nama nasabah
            .col-12.mb-3
              label.form-label(for='add-usia') Usia
              input#add-usia.form-control(type='number' name='usia' min='18' required)
              .invalid-feedback Masukkan usia nasabah (>=18)
            .col-12.mb-3
              label.form-label(for='add-pendapatan') Pendapatan
              input#add-pendapatan.form-control(type='number' name='pendapatan' min='0' required)
              .invalid-feedback Masukkan pendapatan nasabah
            .col-12.mb-3
              label.form-label(for='add-utang') Utang
              input#add-utang.form-control(type='number' name='utang' min='0' required)
              .invalid-feedback Masukkan utang nasabah
            .col-12.mb-3
              label.form-label(for='add-riwayat_pembayaran') Riwayat Pembayaran
              select#add-riwayat_pembayaran.form-select
                each riwayat_pembayaran, index in riwayatPembayaranOptionValues
                  option(value=`${index + 1}`)= riwayat_pembayaran
            .col-12.mb-3
              label.form-label(for='add-potensial') Potensial
              select#add-potensial.form-select
                each potensial, index in potensialOptionValues
                  option(value=index)= potensial
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button#btn-submit-nasabah-lama.btn.btn-primary(type='submit' form='form-add-nasabah-lama') Submit
  // End Add Nasabah Lama Modal

  each nasabahLama in nasabahLamaObjArr
    // Update Nasabah Lama Modals
    .modal.fade(id=`modal-update-nasabah-lama-${nasabahLama.id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
      .modal-dialog.modal-dialog-scrollable
        .modal-content
          .modal-header
            h1.modal-title.fs-4 Update Data Nasabah Lama
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form.row(id=`form-update-nasabah-lama-${nasabahLama.id}` novalidate data-obj-id=nasabahLama.id)
              .col-12.mb-3
                label.form-label(for='update-nama') Nama
                input#update-nama.form-control(type='text' name='nama' value=nasabahLama.nama required)
                .invalid-feedback Masukkan nama nasabah
              .col-12.mb-3
                label.form-label(for='update-usia') Usia
                input#update-usia.form-control(type='number' name='usia' min='18' value=nasabahLama.usia required)
                .invalid-feedback Masukkan usia nasabah (>=18)
              .col-12.mb-3
                label.form-label(for='update-pendapatan') Pendapatan
                input#update-pendapatan.form-control(type='number' name='pendapatan' min='0' value=`${nasabahLama.pendapatan * 1000000}` required)
                .invalid-feedback Masukkan pendapatan nasabah
              .col-12.mb-3
                label.form-label(for='update-utang') Utang
                input#update-utang.form-control(type='number' name='utang' min='0' value=`${nasabahLama.utang * 1000000}` required)
                .invalid-feedback Masukkan utang nasabah
              .col-12.mb-3
                label.form-label(for='update-riwayat_pembayaran') Riwayat Pembayaran
                select#update-riwayat_pembayaran.form-select
                  each riwayat_pembayaran, index in riwayatPembayaranOptionValues
                    if index + 1 === nasabahLama.riwayat_pembayaran
                      option(value=`${index + 1}` selected)= riwayat_pembayaran
                    else
                      option(value=`${index + 1}`)= riwayat_pembayaran
              .col-12.mb-3
                label.form-label(for='update-potensial') Potensial
                select#update-potensial.form-select
                  each potensial, index in potensialOptionValues
                    if index === nasabahLama.potensial
                      option(value=index selected)= potensial
                    else
                      option(value=index)= potensial
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
            button.btn.btn-info(class=`btn-update-nasabah-lama` type='submit' form=`form-update-nasabah-lama-${nasabahLama.id}`) Update
    //End Update Nasabah Lama Modals

    // Delete Nasabah Lama Modals
    .modal.fade(id=`modal-delete-nasabah-lama-${nasabahLama.id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h1.modal-title.fs-4 Konfirmasi Hapus
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body Anda yakin ingin menghapus data nasabah lama: 
            span.fw-bold= nasabahLama.nama
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
            button.btn.btn-danger(class='btn-delete-nasabah-lama' type='button' data-obj-id=nasabahLama.id) Delete
    //End Delete Nasabah Lama Modals